@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.header, .main, .footer {
    background-color: #1F2937;
}

.links, .hero-two, .footer {
    font-size: 18px;
    color: #E5E7EB;
}




.brand {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

.links {
  display: flex;
  gap: 16px;
  padding-right: 100px;
}



.main {
    display: flex;
    padding: 100px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;

}

.top {
    background-color: #3882F6;
    color: white;
    border-radius: 15%;
    border: none;
    width: 75px;
    font-weight: 700;
    margin-top: 16px;
    padding: 8px;
}

.main-chicken {
    margin-left: 200px;
    flex: 1;
}


.testimonials {
    font-weight: 700;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
}



.words {
    color: #1F2937;
    font-size: 16px;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.author {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}





.banner {
    background-color: #3882F6;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.class {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.direct {
    color: white;
    font-size: 16px;
}

.bottom {
    background-color: #3882F6;
    border-color: white;
    border-radius: 15%;
    color: white;
    font-weight: 700;
    padding: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}